<!DOCTYPE html>
<html lang"en">

<head>
  <meta charset="utf-8">
  <title> Marionette Contact Manager </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/application.css">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BackMarDemo</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

  <div id="main-region" class="container">
    <p>
      Here is static content in the web page. You'll notice that 
      it gets replaced by our app as soon as we start it.
    </p>
  </div>

  <script type="text/template" id="contact-list-item">
    <td><%= firstName %></td>
    <td><%= lastName %></td>
    <td>
      <button class="btn btn-primary btn-sm js-delete">
        Delete
      </button>
    </td>
  </script>

  <script type="text/template" id="contact-list">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
      </tr>
      <tbody>
      </tbody>
    </thead>
  </script>





  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/json2.min.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/backbone.js"></script>
  <script src="js/vendor/backbone.wreqr.js"></script>
  <script src="js/vendor/backbone.babysitter.js"></script>
  <script src="js/vendor/backbone.marionette.js"></script>
  <!-- After Structuring -->
  <script src="assets/js/app.js"></script>
  <script src="assets/js/entities/contact.js"></script>
  <script src="assets/js/apps/contacts/list/list_view.js"></script>
  <script src="assets/js/apps/contacts/list/list_controller.js"></script>



  <script type="text/javascript">
    ContactManager.start();
  </script>


</body>
</html>

